<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <div class="btn-toolbar mb-2 mb-md-0" *ngIf="canAccess(['edit_users'])">
    <a routerLink="/users/create" class="btn btn-sm btn-outline-secondary">Add</a>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Email</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{user.id}}</td>
        <td>{{user.first_name}} {{user.last_name}}</td>
        <td>{{user.email}}</td>
        <td>
          <div class="btn-group mr-2"  *ngIf="canAccess(['edit_users'])">
            <a href="javascript:void(0)" [routerLink]="['/users', user.id, 'edit']" class="btn btn-sm btn-outline-secondary">Edit</a>
            <a href="javascript:void(0)" (click)="delete(user.id)" class="btn btn-sm btn-outline-secondary">Delete</a>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<app-paginator
  [lastPage]="lastPage"
  (pageChanged)="refresh($event)"
></app-paginator>
